# OS
.DS_Store

# Editor
## Settings
.idea/
.vscode/
.cursor/
.obsidian/workspace.json
## Backup
*.swp

# AI Coding
.claude/settings.local.json
CLAUDE.local.md
.claude/skills
.agents/settings.local.json
AGENTS.local.md
.agents/skills

# Compile
## Python
.venv
.mypy_cache
**/__pycache__

# Test & Debug & Run

# Other

# Project
.env
data
output
